.header-content{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    padding: 10px 64px;
}

.nav-one{
    padding: 24px;  
}

.bnt-nav{
    padding: 20px 8px;
    border: 1px solid black;
}


